// Breakpoint values
$large-phone: 440px;
$small-tablet: 550px;
$medium-tablet: 600px;
$small-laptop: 900px;

// Background images
$hyrule-blue: url("/src/assets/BOTWpatternsBlue.jpg");
$hyrule-white: url("/src/assets/BOTWpatternsWhite.jpg");
$hyrule-original: url("/src/assets/BOTWpatterns.jpg");
