@import './base/base';

//Common
@import './components/header';
@import './components/loading';

// Components
@import './components/card'; // Shared class

@import './components/elixirCard';
@import './components/elixirInfoCard';

@import './components/errorLoader';
@import './components/error404';

//Layouts
@import './layouts/elixirInfoCardLayout';

