@use "../abstracts/variables" as *;

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: $hyrule-blue;
    background-repeat: repeat;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.grid {
    display: grid;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}